* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #222529;
    color: #fff;
    /* font-family: "Open Sans", Arial, Helvetica, sans-serif; */
    font-family: "Poppins", "Open Sans", Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
}

p{
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}


/* Container */
.container {
    width: 70%;
    /* max-width: 1200px; */
    margin: auto;
}

/* ------------------ Home ------------------*/

.showcase {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90vh;
    padding-top: 5rem;
}

.showcase *{
    animation: transitionIn 0.5s;
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    } to {
        opacity: 1;
        transform: translateY(0);
    }
}

.showcase .showcase-text{
    flex: 1 1 0;
    width: 60%;
}

.showcase .showcase-text h1{
    font-weight: bolder;
    font-size: 3.75rem;
    /* margin-bottom: 0.5rem; */
}

.showcase .showcase-text p{
    font-size: 1.5rem;
    margin-bottom: 2rem;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}


.showcase .showcase-text span{
    font-weight: 700;
    color: rgb(7, 184, 7);
}

.showcase .showcase-text .home-nav ul{
    display: inline-block;
    margin-bottom: 1rem;
}

.showcase .showcase-text .home-nav ul li{
    display: inline;
    margin-right: 40px;
    font-size: 1.2rem;
    font-weight: 500;
}

.showcase .showcase-text .home-nav ul li a{
    position: relative;
}

.showcase .showcase-text .home-nav ul li a:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    color: rgb(17, 235, 46);
    background-color: rgb(17, 235, 46);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.showcase .showcase-text .home-nav ul li a:hover:after{
    transform: scaleX(1);
    color: rgb(16, 196, 40);
    transform-origin: bottom left;
}

.showcase .showcase-text .home-nav ul li a:hover{
    color: rgb(16, 196, 40);
}

.showcase .showcase-text .home-nav .current{
    color: rgb(16, 196, 40);
}
.showcase .showcase-text .home-nav .current:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    color: rgb(17, 235, 46);
    transform: scaleX(1);;
}


.showcase .showcase-text .home-icons ul{
    display: inline-block;
}

.showcase .showcase-text .home-icons ul li{
    display: inline;
    font-size: 1.5rem;
    margin-right: 10px;
}

.showcase .showcase-img{
    /* flex: 1 1 0; */
    width: 40%;
    display: flex;
    justify-content: center;
}

.showcase .showcase-img img{
    width: 100%;
}


/* ------------------ Navbar -----------------------*/
#nav-bg{
    background-color: #0f0f0fc0; 
    padding: 10px 0 10px;
    position: fixed;
    width: 100%;
    display: none;
    /* padding: 10px; */
    /* height: 80px; */

}
.nav-container{
    width: 70%;
    /* max-width: 1250px; */
    margin: auto;
    
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar .nav-logo{
    /* flex: 50%; */
    align-items: center;
}

#navbar .nav-logo h1{
    font-family: "Work Sans", sans-serif;
    font-weight: bolder;
    font-size: 48px;
    font-weight: 800;
    background: -webkit-linear-gradient(270deg, #0d5bee, #0fd45a 95%);
    background-clip: text;    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}

#navbar .nav-list{

    text-align: right;
    /* flex: 50%;/ */
    /* justify-content: flex-end; */
}

#navbar .nav-list ul{
    margin-top: 1rem;
    /* display: inline-block; */
    margin-bottom: 1rem;
}

#navbar .nav-list ul li{
    display: inline;
    margin-left: 40px;
    font-size: 1rem;
    font-weight: 500;
}

#navbar .nav-list ul li a{
    position: relative;
}

#navbar .nav-list ul li a:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    color: rgb(17, 235, 46);
    background-color: rgb(17, 235, 46);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

#navbar .nav-list ul li a:hover:after{
    transform: scaleX(1);
    color: rgb(16, 196, 40);
    transform-origin: bottom left;
}

#navbar .nav-list ul li a:hover{
    color: rgb(16, 196, 40);
}

#navbar .nav-list .current{
    color: rgb(16, 196, 40);
}
#navbar .nav-list .current:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    color: rgb(17, 235, 46);
    transform: scaleX(1);;
}


/*--------------- About --------------*/

#about .container{
    padding: 100px 0 0;
    /* max-width: none; */
}

.about-bg{
    width: 100%;
    margin: auto;
    background-color: #2f3338;
    /* padding: 40px; */
}



.about-content{
    height: auto;
    display: flex;
    flex-direction: row;
    width: 100%;
    /* flex-wrap: wrap; */
}

.about-content .about-text{
    flex: 55%;
}
.about-content .about-text .about-text-content{
    padding: 40px 60px 40px 40px;
    height: 100%;
}

.about-content .about-text .about-text-content .about-title{
    /* color: #0fd45a; */
    font-size: 2rem;
    padding: 0;
    background: -webkit-linear-gradient(0deg, #0fd45a, #0d5bee 50%);
    background-clip: text;    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-content .about-text h1{
    font-size: 4rem;
    padding: 35px 0;
    
}


.about-content .about-text p{
    text-align: justify;
    font-size: 1rem;
    line-height: 2rem;
}


.about-content .about-img{
    flex: 45%;
    display: flex;
    align-items: center;    
    padding: 20px;
}

.about-content .about-img img{
    /* height: auto; */
    width: 100%;
    overflow: hidden;
}

.about-content .about-text{
    flex: 65%;
}

.resume-btn{
    margin-top: 60px;
    display: inline-block;
    background: #24272b;
    color: #fff;
    padding: 8px 20px;
    border: 2px solid #5e656d;
    /* border-radius: 30px; */
    transition: background 0.25s;
}

.resume-btn:hover{
    /* background-color: #0ebe52; */
    background: -webkit-linear-gradient(0deg,  #1005d6, #0fd45a 99%);
}


/*---------------- Projects -----------------*/

#projects .container{
    padding: 100px 0 0;
    /* max-width: none; */
}

.projects-bg{
    width: 100%;
    margin: auto;
    background-color: #2f3338;
    /* padding: 40px; */
}

.projects-content{
    height: 800px;

}

/*------------------- Contact ---------------*/

#contact .container{
    padding: 100px 0 0;
    /* max-width: none; */
}

.contact-bg{
    width: 100%;
    margin: auto;
    background-color: #2f3338;
    /* padding: 40px; */
}

.contact-content{
    height: 800px;

}

.footer-content{
    height: 400px;

}






